{% extends "base.html" %}
{% load system_tag %}
{% load tz %}

{% block head %}
{% endblock head %}

{% block title %}
    Truck Window
{% endblock %}

{% block stylesheet %}
<style>
    @media print {
       * { margin: 0 !important; padding: 0 !important; }
     /* styles go here */
         @page {                
            size: A4;
            margin: 10mm;
            /*size: A4 landscape;*/
          }

          html, body {
            width: 1024px;
            height:100%; 
            overflow: hidden;
            /*background: #FFF; */
          }

          body {
            margin: 20 auto;
            line-height: 1em;
            word-spacing:1px;
            letter-spacing:0.2px;
            font: 8px Arial,"Times New Roman", Times, serif;
            background:white;
            color:black;
            width: 100%;
            float: none;
          }


                  a[href]:after {
            content: none !important;
          }

        .no-print, .no-print *
            {
                display: none !important;
            }

        {
          table { page-break-after:auto }
          tr    { page-break-inside:avoid; page-break-after:auto }
          td    { page-break-inside:avoid; page-break-after:auto }
          thead { display:table-header-group }
          tfoot { display:table-footer-group }
        }

    }
</style>
{% endblock stylesheet %}

{% block form_content %}
<div class="container">
<div class="row">

	<!-- Parameter Section -->
    <h1>แจ้งเวลาคัทออฟ ท่าเรือ B1&A0</h1>
    <table class="table table-bordered">
      <tr class="active">
        <th>ชื่อเรือ</th>
        <th>เที่ยวเรือ</th>
        <th>วันเวลาที่เรือเข้า</th>
        <th>คืนตู้หนักตั้งแต่วันที่</th>
        <th>ปิดรับคืนตู้หนัก(คัทออฟ)</th>
        <th>ท่าเรือ</th>
      </tr>
      
          {% for obj in object_list %}
            <tr>
                <td>{{obj.vessel}}</td>
                <td>{{obj.voy}}</td>
                <td>{{obj.etb|date:"d/H:i"}}</td>
                <td>{{obj.export_cutoff_date|date:"d/H:i"}}</td>
                <td></td>
                <td>{{obj.terminal}}</td>
            </tr>
          {% endfor %}
      
      </table>

              <!-- End Parameter-->
</div>
</div>
{% endblock form_content %}