{% extends "base.html" %}
{% load system_tag %}
{% load tz %}

{% block head %}
{% endblock head %}

{% block title %}
    Truck Window
{% endblock %}

{% block stylesheet %}
<style>
    @media print {
       * { margin: 0 !important; padding: 0 !important; }
     /* styles go here */
         @page {                
            size: A4;
            margin: 10mm;
            /*size: A4 landscape;*/
          }

          html, body {
            width: 1024px;
            height:100%; 
            overflow: hidden;
            /*background: #FFF; */
          }

          body {
            margin: 20 auto;
            line-height: 1em;
            word-spacing:1px;
            letter-spacing:0.2px;
            font: 8px Arial,"Times New Roman", Times, serif;
            background:white;
            color:black;
            width: 100%;
            float: none;
          }



        a[href]:after {
            content: none !important;
          }

        .no-print, .no-print *
            {
                display: none !important;
            }

        {
          table { page-break-after:auto }
          tr    { page-break-inside:avoid; page-break-after:auto }
          td    { page-break-inside:avoid; page-break-after:auto }
          thead { display:table-header-group }
          tfoot { display:table-footer-group }
        }

    }
</style>
{% endblock stylesheet %}

{% block form_content %}
<div class="container">
<div class="row">

	<!-- Parameter Section -->
    <h1>แจ้งเวลาคัทออฟ ท่าเรือ B1&A0</h1>
    <table class="table table-bordered">
      <tr class="active">
        <th>ชื่อเรือ</th>
        <th style="text-align: center;">เที่ยวเรือ</th>
        <th style="text-align: center;">วันเวลาที่เรือเข้า</th>
        <th style="text-align: center;">คืนตู้หนักตั้งแต่วันที่</th>
        <th style="text-align: center;">ปิดรับคืนตู้หนัก(คัทออฟ)</th>
        <th style="text-align: center;">ท่าเรือ</th>
      </tr>
      
          {% for obj in object_list %}
            {% is_fix_cutoff obj.service as IsCutOff %}
            <tr>
                <td>{{obj.vessel}}</td>
                <td style="text-align: center;">{{obj.voy}}</td>
                <td style="text-align: center;">{{obj.etb|date:"d/H:i"}}</td>
                <td style="text-align: center;">{{obj.export_cutoff_date|date:"d/H:i"}}</td>
                <td style="text-align: center;">
                    {% if not obj.has_cutoff %}
                        {% if IsCutOff %}
                            {% get_fix_cutoff obj.service obj.etb  as NewDryCutDate %}
                            {{ NewDryCutDate|date:"d/m H:i"}}
                        {% else %}
                            {% decrease_hour obj.etb 24 as NewDryCutDate %}
                            {{ NewDryCutDate|date:"d/m H:i"}}
                        {% endif %}
                    {% else %}
                        {% if obj.cutoff_set.first.dry_date %}
                            {% decrease_hour obj.cutoff_set.first.dry_date 0 as NewDryCutDate %}
                            {{ obj.cutoff_set.first.dry_date|date:"d/m H:i" }}
                        {% else %}
                            {% decrease_hour obj.etb 24 as NewDryCutDate %}
                            {{ NewDryCutDate|date:"d/m H:i"}}
                        {% endif %}
                    {% endif %}
                </td>
                <td style="text-align: center;">{{obj.terminal|cut:"/1"}}</td>
            </tr>
          {% endfor %}
      
      </table>

      <h3>
      <b>หมายเหตุ :</b>
      <ul style="font-size: larger;">
        <li>กรณีเรือยังไม่มีในตารางที่แจ้ง สามารถติดต่อสอบถามทางท่าก่อนคืนตู้ได้</li>
        <li>ตู้เปล่าลากออกและตู้หนักลากออก เข้าได้ตามปกติ เช็คเลขชอร์และชำระเงินได้ที่ https://e-payment.lcb1.com/</li>
        <li>รอจับตู้นานเกินไปกรุณาโทรตามที่ 038-408600 ต่อ 1776 เท่านั้น</li>
      </ul>
    </h3>
              <!-- End Parameter-->
</div>
</div>
{% endblock form_content %}