django
django-debug-toolbar
django-cors-headers
django-colorfield
djangorestframework
markdown
django-filter
django-excel
xlrd==1.2.0

# Added on June 15,2021 -Test
django-redis
gunicorn==19.9.0
django-crispy_forms
django_q
django-import-export
redis


# To Export from original web file
# python .\manage.py dumpdata auth.group -o master_data\group.json
# python .\manage.py dumpdata auth.user -o master_data\user.json
# Remove pk=1 out from auth.json
# python .\manage.py dumpdata berth -o master_data\berth.json

# To import to new system
# docker-compose exec web-server python manage.py loaddata master_data/group.json
# docker-compose exec web-server python manage.py loaddata master_data/user.json

# Open shell
# docker-compose exec web-server python manage.py shell
# from berth.models import Voy,cutoff,Vessel
# Voy.objects.all().delete()
# cutoff.objects.all().delete()
# Vessel.objects.all().delete()
# docker-compose exec web-server python manage.py loaddata master_data/berth.json